.first {
    display: flex;
    align-items: baseline;
    justify-content: end;
    background-image: url("IMG_7768.JPG");
    height: 350px; 
    border: none;
    outline: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    
    z-index: 1; /* make sure it's on top */
    position: relative; /* needed for z-index */
    
    
    
}


    .title {
        margin-right: 570px;   
        color: rgb(133, 211, 234); 
        
        
    }

    .l1,
    .l2,
    .l3 {      
        margin-right: 140px;
        color: rgb(133, 211, 234);
}

/*.blur-line {
    height: 5px;
    background: linear-gradient(to bottom, rgba(105, 144, 187, 0.5), rgba(105, 144, 187, 0.5));
    filter: blur(1px);
    background: linear-gradient(to top, rgba(105, 144, 187, 0.5), rgba(105, 144, 187, 0.5));
    filter: blur(1px);
}*/

.second {
    display: flex;
    background-image: url("IMG_7768.JPG");
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    gap:220px;
    outline: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    
    z-index: 1;
    position: relative;
    
 
    
    
    
   
 
   
}

    .image { 
        margin-top: 3%;   
    }
    .inner-cont {
        position: relative;
        left: 7%;
        margin-right: 11%; 
    }
        .head {       
            color: whitesmoke
        }

        .txt {
            font-size: 18px;
            color: whitesmoke
        }

        .but {
            background-color: rgb(133, 211, 234);
            border-radius: 10px;
        }

#txt {
    font-size: larger;
    text-align: center;
    font-weight: bold; 
    color: hwb(58 3% 38%);  
}

.third{
    display:flex;
    align-items: baseline;
    justify-content: center;
    gap:8px

}



    .box {
        width: 250px;
        height: 100px;
        border: 3px solid rgb(3, 133, 148);
        border-radius: 10px; 
    }
